.row-header{
    margin-right: -20px;
    margin-left: -20px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #9575CD;
    margin: 10px auto 0px;
    padding: 20px 0px 20px 0px;
}
.jumbo {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    background-color: #9575CD ;
    color:floralwhite;
    margin-top: -20px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

.box {
    padding-left: 50px;
    list-style-type: none;
}

.nav-link {
    color: #9575CD ;
}

.nav-link.active {
    color:floralwhite;
    text-decoration: none;

}

.nav-link:hover {
    color:floralwhite;
    text-decoration: none;
}

.justify-center {
    text-align: center;
}

.right {
    float: right;
    text-align: right;
}

.left {
    text-decoration: none;
}

.item {
    padding: 20px 20px;
    margin: auto;
}

.name {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
}

.salary {
    color: crimson;
}

.button {
    margin: 0px 5px;
}

.App {
    background-color: antiquewhite;
}

.head {
    font-size: 18px;
}