.row-header{
    margin-right: -20px;
    margin-left: -20px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #669cda;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbo {
    padding: 20px 0px;
    margin: 0px -30px;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

.box {
    padding-right: 20px;
    list-style-type: none;
}

.nav-link {
    color: #9575CD ;
}

.nav-link.active {
    color:floralwhite;
    text-decoration: none;

}

.nav-link:hover {
    color:floralwhite;
    text-decoration: none;
}

.justify-center {
    text-align: center;
}

.right {
    text-align: right;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

/* @media screen and (min-width: 1024px) {
    .col-3, .col-9 {
      width: 100%;
      margin-top: 0;
    }
} */

.col-25 {
    margin: 6px auto;
    float: left;
    width: 20%;
}
    
.col-75 {
    margin: 6px auto;
    float: left;
    width: 80%;
    padding-left: 10px;
}